<div class="page-header">
  <h3>Week #<%= @week.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Start datetime</dt>
      <dd><%= @week.start_datetime %></dd>

      <dt>End datetime</dt>
      <dd><%= @week.end_datetime %></dd>

      <dt>User</dt>
      <dd><%= @week.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/weeks" class="btn btn-primary">
        Back
      </a>
      <a href="/weeks/<%= @week.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_week/<%= @week.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Week has many weekly_tasks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Weekly Tasks
      </li>

      <% @week.weekly_tasks.each do |weekly_sub_task| %>
        <li class="list-group-item">
          <a href="/weekly_sub_tasks/<%= weekly_sub_task.id %>">
            <%= weekly_sub_task.week_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/weekly_sub_tasks/<%= weekly_sub_task.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/weekly_sub_tasks/<%= weekly_sub_task.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_weekly_sub_task/<%= weekly_sub_task.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
