<div class="page-header">
  <h3>Task #<%= @task.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @task.user_id %></dd>

      <dt>Deadline</dt>
      <dd><%= @task.deadline %></dd>

      <dt>Status</dt>
      <dd><%= @task.status %></dd>

      <dt>Name</dt>
      <dd><%= @task.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tasks" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @task.user %>
        <a href="/tasks/<%= @task.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_task/<%= @task.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Task has many weekly_sub_tasks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Weekly Sub Tasks
      </li>

      <% @task.weekly_sub_tasks.each do |weekly_sub_task| %>
        <li class="list-group-item">
          <a href="/weekly_sub_tasks/<%= weekly_sub_task.id %>">
            <%= weekly_sub_task.week_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/weekly_sub_tasks/<%= weekly_sub_task.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/weekly_sub_tasks/<%= weekly_sub_task.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_weekly_sub_task/<%= weekly_sub_task.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_weekly_sub_task" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for week_id -->
      <div class="form-group">
        <label for="week_id" class="control-label">
          Week
        </label>

        <%= select_tag(:week_id, options_from_collection_for_select(Week.all, :id, :start_datetime), :class => "form-control") %>
      </div>

      <!-- Label and input for task_id -->
      <input type="hidden" name="task_id" value="<%= @task.id %>">

      <!-- Label and input for task_name -->
      <div class="form-group">
        <label for="task_name" class="control-label">
          Task name
        </label>

        <input type="text" id="task_name" name="task_name" placeholder="Task name" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Weekly Sub Task
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
