<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

      <dt>Self allocated daily work time</dt>
      <dd><%= @user.self_allocated_daily_work_time %></dd>

      <dt>Self allocated weekly work time</dt>
      <dd><%= @user.self_allocated_weekly_work_time %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many tasks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tasks
      </li>

      <% @user.tasks.each do |task| %>
        <li class="list-group-item">
          <a href="/tasks/<%= task.id %>">
            <%= task.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/tasks/<%= task.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/tasks/<%= task.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_task/<%= task.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many weeks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Weeks
      </li>

      <% @user.weeks.each do |week| %>
        <li class="list-group-item">
          <a href="/weeks/<%= week.id %>">
            <%= week.start_datetime %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/weeks/<%= week.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/weeks/<%= week.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_week/<%= week.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
