<div class="page-header">
  <h1>
    Weekly sub tasks
    <a href="/weekly_sub_tasks/new" class="btn btn-lg btn-success">New Weekly sub task</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "weekly_sub_tasks_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :task_name_cont, "Task name contains" %>
    <%= f.text_field :task_name_cont, :class => "form-control", :placeholder => "Task name contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
          <%= f.label :start_datetime, "Week Start datetime" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='weekgteqstart_datetimePicker'>
                  <%= f.text_field :week_start_datetime_gteq, :class => "form-control", :placeholder => "Week Start datetime greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='weeklteqstart_datetimePicker'>
                  <%= f.text_field :week_start_datetime_lteq, :class => "form-control", :placeholder => "Week Start datetime less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#weekgteqstart_datetimePicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#weeklteqstart_datetimePicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#weekgteqstart_datetimePicker').on("dp.change", function (e) {
                  $('#weeklteqstart_datetimePicker').data("DateTimePicker").minDate(e.date);
              });
              $('#weeklteqstart_datetimePicker').on("dp.change", function (e) {
                  $('#weekgteqstart_datetimePicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/weekly_sub_tasks" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#weekly_sub_tasks_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Week</th>
        <th>Task</th>
        <th>Task name</th>
        <th>Actions</th>
      </tr>

      <% @weekly_sub_tasks.each do |weekly_sub_task| %>
      <tr>
        <td>
          <% if weekly_sub_task.week.present? %>
            <a href="/weeks/<%= weekly_sub_task.week.id %>">
              <%= weekly_sub_task.week.start_datetime %>
            </a>
          <% end %>
        </td>
        <td>
          <% if weekly_sub_task.task.present? %>
            <a href="/tasks/<%= weekly_sub_task.task.id %>">
              <%= weekly_sub_task.task.user_id %>
            </a>
          <% end %>
        </td>
        <td><%= weekly_sub_task.task_name %></td>
        <td>
          <a href="/weekly_sub_tasks/<%= weekly_sub_task.id %>" class="btn btn-primary">Show</a>
          <a href="/weekly_sub_tasks/<%= weekly_sub_task.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_weekly_sub_task/<%= weekly_sub_task.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @weekly_sub_tasks, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
